<div class="container-fluid">
    <div class="container">
    <img src="https://cdn.pixabay.com/photo/2016/03/31/14/48/letter-1292826_960_720.png"/>
    <h4 class="display-6">Sign Up for the <strong>NEWSLETTER</strong></h4>
    <form class="sub-form" #subscribe="ngForm" ngSubmit="onSubmit">
        <input type="email" placeholder="   Enter Your Email"/>
        <button type="submit" style="background-color: red; color: white;">Subscribe</button>
    </form>
    <div class="social-links">
        <button type="button"><i class="fa-solid fa-phone"></i></button>
        <button type="button"><i class="fa-solid fa-phone"></i></button>
        <button type="button"><i class="fa-solid fa-phone"></i></button>
        <button type="button"><i class="fa-solid fa-phone"></i></button>
    </div>
</div>
</div>
