<div class="container-fluid">
<div class="container">
    <div class="row">
        <div class="col-10">
            <div class="top-links"><fa-icon [icon]="faPhone"></fa-icon>+021-95-51-84</div> 
            <div class="top-links"><fa-icon [icon]="faEnvelope"></fa-icon>email@email.com</div> 
            <div class="top-links"><fa-icon [icon]="faLocation"></fa-icon>1734 Stonecoal Road</div> 
        </div>
        <div class="col-2" >
            <div class="top-links"><fa-icon [icon]="faDollar"></fa-icon>USD</div> 
            <div class="top-links"><fa-icon [icon]="faLock"></fa-icon>My Account</div>
        </div>
    </div>
</div>
</div>


