<div class="container-fluid">
<div class="container">
    <div class="row">
        <div class="col-10">
            <div class="top-links"><i class="fa-solid fa-phone"></i>+021-95-51-84</div> 
            <div class="top-links"><i class="fa-solid fa-phone"></i>email@email.com</div> 
            <div class="top-links"><i class="fa-solid fa-phone"></i>1734 Stonecoal Road</div> 
        </div>
        <div class="col-2" >
            <div class="top-links"><i class="fa-solid fa-phone"></i>USD</div> 
            <div class="top-links"><i class="fa-solid fa-phone"></i>My Account</div>
        </div>
    </div>
</div>
</div>


