.container-fluid {
    border-bottom: solid 2px #eeeded;
    height: 40px;
}

.nav {
    font-size: 13px;
}

.active {
    text-decoration: underline;
    text-decoration-thickness: 3px;
    color: red !important;
    font-weight: 600;
}

.nav-link {
    color: black;
    font-weight: 500;
}