.container, .container-fluid {
    background-color: #000000;
}

.container-fluid {
    border-bottom: solid 5px red;
}

.col-6 {
    text-align: center;
    position: relative;
}

form {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 20%;
    width: 100%;
}

form > * {
    height: 35px;
    border: 0;
    font-size: 13px;
    padding: 5px;
}

form select {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

form button {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    width: 75px;
}

form input {
    width: 250px;
}

.util-btn {
    color: white!important;
    display: inline-block;
    height: 100%;
    padding: 5px;
    margin-left: 10px;
    text-align: center;
}

.util-btn>a {
    color: white;
    text-decoration: none;
    font-size: 12px;
    letter-spacing: 1px;
}

.util-btn>  fa-icon{
    margin-top: 8px;
    font-size: 15px;
    display: block;
    color: red;
}