.active {
    text-decoration: underline;
    text-decoration-thickness: 3px;
    color: red !important;
    font-weight: 600;
}

h6 {
    font-weight: bold;
}

.nav-link {
    color: rgb(185, 185, 185);
    font-size: 13px;
    letter-spacing: 0.2px;
}

.container{
    margin-top: 40px;
}

.product-container {
    margin-left: 10px;
    margin-right: 10px;
}

.product {
    border: solid 1px rgb(212, 210, 210);
    border-radius: 1px;
    text-align: center;
    transition-delay: 2s;
}

.product img {
    width: 250px;
    height: 250px;
}

.cart-button {
    background-color: black;
    padding: 10px;
    text-align: center;
}

.btn {
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
    font-weight: 500; 
}