<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-3"><img src="./assets/img/product08.png" /></div>
            <div class="col-6" style="margin-top: 20px;">
                <div class="time-div">
                    <div class="bg-danger rounded-circle">02<p>DAYS</p></div>
                    <div class="bg-danger rounded-circle">10<p>HOURS</p></div>
                    <div class="bg-danger rounded-circle">34<p>MINS</p></div>
                    <div class=" bg-danger rounded-circle">60<p>SECS</p></div>
                </div>
                <h4 style="font-weight: bold;">HOT DEAL THIS WEEK</h4>
                <p>NEW COLLECTION UP TO 50% OFF</p>
                <button class="btn btn-danger rounded-pill" style="font-size: 10px; font-weight: 500;">SHOP NOW</button>
            </div>
            <div class="col-3"><img src="./assets/img/product02.png" /></div>
        </div>
    </div>
</div>
