<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col">
                <h4>ABOUT US</h4>
                <p class="about">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Amet qui facere voluptatibus, praesentium magni dolores.
                </p>
                <div class="">
                    <div class="top-links"><i class="fa-solid fa-phone"></i>+021-95-51-84</div> 
                    <div class="top-links"><i class="fa-solid fa-phone"></i>email@email.com</div> 
                    <div class="top-links"><i class="fa-solid fa-phone"></i>1734 Stonecoal Road</div> 
                </div>
            </div>
            <div class="col">
                <h4>CATEGORIES</h4>
                <ul>
                    <li><a href="">Hot deals</a></li>
                    <li><a href="">Laptops</a></li>
                    <li><a href="">Smartphones</a></li>
                    <li><a href="">Cameras</a></li>
                    <li><a href="">Accessories</a></li>
                </ul>
            </div>
            <div class="col">
                <h4>INFORMATION</h4>
                <ul>
                    <li><a href="">About Us</a></li>
                    <li><a href="">Contact Us</a></li>
                    <li><a href="">Privacy Policy</a></li>
                    <li><a href="">Orders and Returns</a></li>
                    <li><a href="">Terms & Conditions</a></li>
                </ul>
            </div>
            <div class="col">
                <h4>SERVICE</h4>
                <ul>
                    <li><a href="">My Account</a></li>
                    <li><a href="">View Cart</a></li>
                    <li><a href="">Wishlist</a></li>
                    <li><a href="">Track My Order</a></li>
                    <li><a href="">Help</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
